
@{
    ViewBag.Title = "Index";
    Layout = null;
}

    <div>djsaflk</div>
<button id="btn1">按钮</button>
<div>用户名:<input type="text" value="" /></div>
<script>
    $(function () {
        $('#btn1').click(function () {
            alert('按钮点击了')
        })
    })
</script>